{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "test/**/*.ts"
  ],
  "extentions": [
    ".ts"
  ],
  "all": true,
  "check-coverage": false,
  "reporter": [
    "cobertura"
  ]
}