# ld65 config for an NROM-128 cartridge (mapper 0, 16KB PRG, 8KB CHR).
MEMORY {
    ZP:     start=$0000, size=$0100, type=rw, define=yes;
    OAM:    start=$0200, size=$0100, type=rw, define=yes;
    RAM:    start=$0300, size=$0500, type=rw, define=yes;
    HEADER: start=$0000, size=$0010, type=ro, file=%O, fill=yes;
    PRG:    start=$C000, size=$4000, type=ro, file=%O, fill=yes, fillval=$FF;
    CHR:    start=$0000, size=$2000, type=ro, file=%O, fill=yes;
}

SEGMENTS {
    HEADER:   load=HEADER, type=ro;
    ZEROPAGE: load=ZP,     type=zp;
    OAMBUF:   load=OAM,    type=bss, define=yes;
    BSS:      load=RAM,    type=bss, define=yes;
    CODE:     load=PRG,    type=ro,  start=$C000;
    RODATA:   load=PRG,    type=ro;
    VECTORS:  load=PRG,    type=ro,  start=$FFFA;
    CHARS:    load=CHR,    type=ro;
}
